:root {
  --primary-color: #023e8a;
  --secondary-color: #0077b6;
  --accent1-color: #caf0f8;
  --accent2-color: #90e0ef;
  --heading-font: 'Arial', 'Helvetica', sans-serif;
  --paragraph-font: 'Roboto', sans-serif;
  --nav-background-color: var(--accent1-color);
  --nav-link-color: var(--primary-color);
  --nav-hover-link-color: var(--secondary-color);
  --nav-hover-background-color: var(--accent2-color);
}

body {
  font-family: var(--paragraph-font);
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
  justify-content: center;
  background-color: #f0f0f0; /* Lightened background to improve overall contrast */
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color); /* Darker text for better contrast */
  text-align: center;
} 

p {
  font-size: 18px;
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 2px;
  background-color: var(--accent1-color);
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

header.scrolled {
  opacity: 0;
}

header.visible {
  opacity: 1;
}

header img {
  width: 150px;
  height: auto;
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
}

nav a {
  display: block;
  color: rgb(2, 2, 49); /* Unchanged */
  text-decoration: none;
  padding: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  margin: 0 6px;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color); /* Unchanged */
}

nav a:hover {
  color: var(--nav-hover-link-color); /* Unchanged */
  background-color: var(--nav-hover-background-color); /* Darker hover color */
}

.hero1 {
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #90e0ef;
  background-image: url(../images/hero-image.png); /* Image for .hero for the about page.*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 400px;
  background-attachment: fixed;
}
.hero4 {
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #90e0ef;
  background-image: url(../images/trips-hero.webp); /* Different image for .hero1 for the trips page*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 400px;
  background-attachment: fixed;
}
.hero {
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #90e0ef;
  background-image: url(../images/hero-image.png);
  background-image: url(../images/rafting-home.jpg); /* Different image for .hero2 for the home page*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 400px;
  background-attachment: fixed;
}

.hero img,
@@ -158,21 +191,7 @@
  z-index: 0;
}

.hero1 {
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #90e0ef;
  background-image: url(../images/rafting-home.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 400px;
  background-attachment: fixed;
}

main {
  padding: 20px;
@@ -510,8 +529,8 @@
}

.float-item {
  width: 50px;
  animation: float 5s ease-in-out infinite;
  width: 500px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
