/* General Styles */
body {
    font-family: 'Roboto Condensed', sans-serif;
}

/* Add styles for the main element */
main {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px; /* Added max-width */
}

/* Nav and Anchor Styles */
nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

/* Add styles for the aside element */
aside {
    width: 400px;
    margin: 20px;
    border: 2px solid #333;
    padding: 15px;
    background-color: #f4f4f4;
    color: #333;
}

/* Image inside the aside */
aside img {
    width: 200px;
    height: auto;
}

/* Image inside the main section */
main img {
    width: 200px;
    height: auto;
}

/* Set padding for the paragraphs */
p {
    padding: 0;
}

/* Styling for footer */
footer {
    margin-top: 25px;
    border-top: 2px solid #333;
    text-align: center;
    padding: 10px 0;
}
